[submodule "Source/IMGUI"]
	path = Source/IMGUI
	url = https://github.com/fireapache/imgui.git
[submodule "Source/GLFW"]
	path = Source/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Source/GLM"]
	path = Source/GLM
	url = https://github.com/fireapache/glm.git
[submodule "Source/UUID_V4"]
	path = Source/UUID_V4
	url = https://github.com/fireapache/uuid_v4.git
